<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!--    &lt;!&ndash;热门推荐&ndash;&gt;-->
<!--    {% for t in tui %}-->
<!--        <div class="caption">-->
<!--            <h4><a href="{% url 'index' %}show-{{ t.id }}.html" title="{{ t.title }}"-->
<!--                   rel="bookmark">{{ t.title }}</a></h4>-->
<!--            <p>{{ t.excerpt|truncatechars:"80" }}</p>-->
<!--        </div>-->
<!--    {% endfor %}-->
    <!--最新文章-->
    {% for a in allarticle %}
        <div class="article-box clearfix excerpt-1">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#" title="{{ a.title }}">
                        </a>
                </div>
            </div>
            <div class="col-md-8">
                <h2><a href="#" target="_blank"
                       title="{{ a.title }}">{{ a.title }}</a></h2>
                <p class="txtcont hidden-xs"><a href="#" target="_blank"
                                                title="{{ a.title }}">{{ a.excerpt }}</a></p>
                <div class="meta"><span class="label label-info"><a
                        href="#">{{ a.category.name }}</a></span>
                    <time class="item"><i class="fa fa-clock-o"></i>{{ a.created_time|date:"Y年m月d日" }}
                    </time>
                </div>
            </div>
        </div>
    {% endfor %}

<aside class="post-right hidden-xs">
   {% include 'right.html' %}
</aside>

{% endblock content %}